name: Test running script for production

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
      
jobs:
  build-and-run:
    # Note: this workflow must run on linux 
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: cvmfs-contrib/github-action-cvmfs@v3
    - uses: eic/run-cvmfs-osg-eic-shell@main
      env:
          X509_PROXY: ${{ secrets.X509_PROXY }} 
      with:
        platform-release: "eic_xl:nightly"
        run: |
          eic-info
          # Generate a timestamp
          timestamp=$(date '+%Y-%m-%d_%H-%M-%S')

          # Set certificate
          echo "${X509_PROXY}" > x509_user_proxy
          export X509_USER_PROXY=x509_user_proxy
          
          # Test running hepmc3 file
          EBEAM=18 \
          PBEAM=275 \
          DETECTOR_CONFIG="epic_craterlake" \
          DETECTOR_VERSION="main" \
          TAG_PREFIX="CI/${timestamp}" \
          TAG_SUFFIX="CI_${timestamp}" \
          COPYRECO=true \
          COPYLOG=true \
          USERUCIO=false \
          scripts/run.sh EVGEN/DIS/NC/18x275/minQ2=1/pythia8NCDIS_18x275_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_1 hepmc3.tree.root 10
          # XRDRURL="xroots://dcint-door001.sdcc.bnl.gov:1094/" \
          # XRDWURL="xroots://dcint-door001.sdcc.bnl.gov:1094/" \
          # XRDRBASE="/pnfs/sdcc.bnl.gov/eic/epic/disk" \
          # XRDWBASE="/pnfs/sdcc.bnl.gov/eic/epic/disk" \
          # LOG_RSE=BNL-XRD \
          # OUT_RSE=BNL-XRD \

          # Test running hepmc3 mixed with backgrounds
          curl -L -o bg_files.json "https://eicweb.phy.anl.gov/EIC/campaigns/datasets/-/raw/main/config_data/synrad_egasbrems_egascoulomb_egastouschek_hgas_18GeVx275GeV_vacuum_10000Ahr_machineruntime_50s.json"
          EBEAM=18 \
          PBEAM=275 \
          DETECTOR_CONFIG="epic_craterlake" \
          DETECTOR_VERSION="main" \
          TAG_PREFIX="CI/Backgrounds/${timestamp}" \
          TAG_SUFFIX="CI_Backgrounds_${timestamp}" \
          COPYRECO=true \
          COPYLOG=true \
          USERUCIO=false \
          BG_FILES=bg_files.json \
          scripts/run.sh EVGEN/DIS/NC/18x275/minQ2=1/pythia8NCDIS_18x275_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_1 hepmc3.tree.root 10
          # XRDRURL="xroots://dcint-door001.sdcc.bnl.gov:1094/" \
          # XRDWURL="xroots://dcint-door001.sdcc.bnl.gov:1094/" \
          # XRDRBASE="/pnfs/sdcc.bnl.gov/eic/epic/disk" \
          # XRDWBASE="/pnfs/sdcc.bnl.gov/eic/epic/disk" \
          # LOG_RSE=BNL-XRD \
          # OUT_RSE=BNL-XRD \

          # Test running singles file
          EBEAM=5 \
          PBEAM=41 \
          DETECTOR_CONFIG="epic_craterlake" \
          DETECTOR_VERSION="main" \
          TAG_PREFIX="CI/${timestamp}" \
          TAG_SUFFIX="CI_${timestamp}" \
          COPYRECO=true \
          COPYLOG=true \
          USERUCIO=false \
          scripts/run.sh EVGEN/SINGLE/e+/100MeV/130to177deg/e+_100MeV_130to177deg	steer 10
          # XRDRURL="xroots://dcint-door001.sdcc.bnl.gov:1094/" \
          # XRDWURL="xroots://dcint-door001.sdcc.bnl.gov:1094/" \
          # XRDRBASE="/pnfs/sdcc.bnl.gov/eic/epic/disk" \
          # XRDWBASE="/pnfs/sdcc.bnl.gov/eic/epic/disk" \
          # LOG_RSE=BNL-XRD \
          # OUT_RSE=BNL-XRD \
